<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="movies">
  <div class="move">
    <div class="banner_wrapper" *ngFor="let movie of movies">
      <div class="banner">
        <a [routerLink]="['/moviedetails', movie.imdbID]">
          <img src="{{movie.poster}}" alt="No Poster" class="banner__image">
        </a>
      </div>
      <div class="card__wrapper">
        <div class="card">
          <div class="card__info">
            <div>
              <span>{{movie.title}}</span>
              <p>{{movie.year}}</p>
            </div>
          </div>
          <span class="material-symbols-outlined star"    id="{{movie.imdbID}}" [class.fav]="isFavorite(movie.imdbID)" >star</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div #scrollAnchor style="height: 1px;"></div>  <!-- Scroll anchor -->
